<!DOCTYPE html>
<html>

<head>
    <met created() { created() { charset="utf-8" />
    <title>int. chat</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div id="app">
        <img src="img/logo.png" id="logo">
        <h1 id="text">Intern Chatt</h1>
        <form id="form">
            <div id="textruta" v-if="name">
                <p v-for="name in name.slice().reverse()">{{name.text}}</p>
            </div>
            <input v-model=currenttext id="entertext" autofocus="autofocus">
            <button type="submit" v-on:click="saveText" form="form" value="Submit" id="knapp">Skicka</button>
        </form>
    </div>
    <p id="info">(rensas efter 500 rader.)</p>
    <script src="js/a-team.js"></script>
</body>

</html>